@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
   * {
       margin: 0;
       padding: 0;
       box-sizing: border-box;
       text-decoration: none;
       border: none;
       scroll-behavior: smooth;
       font-family: "poppins", sans-serif;
       color: #ededed;
       /* transition: all ease .5s; */
   }
   
    :root {
       --bg-color: #081b29;
       --second-bg-color: #112e42;
       --text-color: #ededed;
       --main-color: #00abf0;
   }
   
   html {
       height: 100%;
       width: 100%;
   }
   
   body {
       height: 100%;
       width: 100%;
       background-color: #081b29;
   }
   
   .header {
       top: 0;
       width: 100%;
       padding: 1vw 9vw;
       display: flex;
       justify-content: space-between;
       align-items: center;
       z-index: 100;
       position: fixed;
       background-color: #081b29;
   }
   
   #logo {
       cursor: pointer;
       color: #ededed;
   }
   
   #logo::selection {
       user-select: none;
   }
   
   #h1 {
       font-weight: 600;
       font-size: 2.5rem;
   }
   
   .header a {
       padding: 25px;
       font-size: 15px;
       color: #ededed;
       font-weight: 500;
       position: relative;
       transition: all ease 0.2s;
   }
   
   .navbar a:hover,
   .navbar a.active {
       color: var(--main-color);
   }
   
   .navbar a::before {
       content: "";
       width: 0%;
       height: 4px;
       background-color: #00abf0;
       position: absolute;
       bottom: 25%;
       transition: all ease-in 0.3s;
   }
   
   .navbar a:hover::before {
       width: 60%;
   }
   
   .main {
       display: flex;
       padding: 6vw 9vw;
       background-color: #081b29;
       color: #ededed;
   }
   
   .im {
       font-size: 40px;
       margin-top: 10vw;
       width: 100%;
   }
   
   #stroke {
       /* -webkit-text-stroke: .7px var(--main-color); */
       color: white;
   }
   
   #hey {
       font-size: 15px;
   }
   
   #btn1 {
       background-color: #00abf0;
       color: #081b29;
       padding: 0.6vw 1vw;
       font-weight: 500;
       border-radius: 0.5vw;
       border: 2px solid #00abf0;
       height: 10%;
       width: 18%;
       position: relative;
       overflow: hidden;
       transition: all ease 0.4s;
       margin-top: .1vw;
   }
   
   #btn2 {
       background-color: transparent;
       color: #00abf0;
       border: 2px solid #00abf0;
       border-radius: 0.5vw;
       padding: 0.6vw 1.5vw;
       font-weight: 500;
       transition: all ease 0.4s;
       height: 10%;
       width: 18%;
       position: relative;
       margin-top: .1vw;
   }
   /* .btn1,
                            .btn2:hover {
                                background-color: #00abf0;
                                color: #081b29;
                            }
                             */
   
   #btn1::before {
       content: "";
       position: absolute;
       top: 0;
       left: 0;
       width: 0;
       height: 100%;
       background-color: #081b29;
       transition: all ease 0.4s;
   }
   /* #btn2::before {
                                content: '';
                                position: absolute;
                                top: 0;
                                left: 0;
                                width: 0;
                                height: 100%;
                                background: var(--main-color);
                                transition: all ease .4s;
                                z-index: -1;
                            } */
   /* #btn2:hover::before {
                                width: 100%;
                                z-index: -11111;
                            } */
   
   #btn2:hover {
       /* color: #;
                                z-index: 99; */
       box-shadow: 0 4px 8px 0 #00acf077, 0 6px 20px 0 #00acf077;
   }
   
   #btn1:hover::before {
       width: 100%;
       z-index: -111;
   }
  
   
   #btn1:hover {
       color: #00abf0;
       z-index: 99;
       background-color: #081b29;
       box-shadow: 0 4px 8px 0 #00acf077, 0 6px 20px 0 #00acf077;
   }
   
   img {
       height: 360px;
       width: 360px;
       margin-top: 60px;
       filter: opacity(70%);
       border-radius: 50%;
       object-fit: cover;
       border: 10px solid white;
       transition: all ease 0.5s;
   }
   
   img:hover {
       border: 10px solid #00abf0;
       /* opacity: 50%; */
       box-shadow: 0 10px 20px 0 #1d96f277, 0 10px 20px 0 #00acf077;
   }
   
   @media screen and (max-width:500px) {
       img {
           /* display: none; */
           height: 300px;
           width: 270px;
       }
       .main {
           display: grid;
           grid-template-rows: 50% 50%;
       }
       .main h2 {
           font-size: 1.8rem;
           /* approx 30px */
       }
       .main p {
           font-size: 1.5rem;
       }
       .main {
           display: flex;
           flex-direction: column;
           text-align: center;
       }
       .navbar {
           display: none;
       }
       #logo {
           color: #00abf0;
           font-family: Brush Script MT;
       }
       .box {
           text-align: center;
       }
       #box1 {
           height: 15%;
           width: 75%;
           /* color: #00abf0; */
       }
       #box2 {
           height: 15%;
           width: 75%;
       }
       #box3 {
           height: 30%;
           width: 75%;
       }
       #about-page h1::before,
       #education h1:hover::before,
       .skill h1:hover::before,
       .contact h1:hover::before {
           display: none;
       }
       .c-skills {
           width: 75%;
           height: 70%;
       }
       #contact {
           height: 80vw;
           width: 75vw;
           display: grid;
           grid-template-rows: 40% 60%;
           margin-top: 15vw;
       }
       .details {
           display: grid;
           grid-template-rows: 25% 25% 25% 25%;
       }
       .p-details {
           border: 2px solid #00abf0;
           border-radius: 7px;
           height: 7vw;
           color: #ededed;
           margin: 2px;
       }
       .message {
           height: 90%;
           width: 98%;
           border: 2px solid #00abf0;
           border-radius: 7px;
           margin: 0.7vw;
           outline: none;
           margin-top: 4vw;
       }
       .contact h1 {
           margin-top: 20px;
       }
   }
   
   i {
       transition: all ease 0.2s;
       overflow: hidden;
       display: inline-flex;
       margin-top: 5%;
       margin-right: 10px;
   }
   
   i:hover {
       color: #00abf0;
   }
   
   #about-page {
       height: 100%;
       width: 100%;
       background-color: #081b29;
       overflow: hidden;
   }
   
   #about-page h1 {
       font-size: 4.5vw;
       text-transform: capitalize;
       text-align: center;
       padding-top: 5vw;
       position: relative;
       transition: all ease 0.2s;
       user-select: none;
       cursor: pointer;
   }
   
   #about-page h1::before {
       content: "";
       position: absolute;
       width: 0;
       height: 7px;
       background: linear-gradient( to bottom right, rgb(4, 39, 46), rgb(251, 249, 245));
       transition: all ease-in 0.4s;
       bottom: 5%;
   }
   
   #about-page h1:hover::before {
       width: 23%;
   }
   
   #about-page p {
       font-size: 1.9vw;
       padding: 1vw 9vw;
       text-align: center;
   }
   
   #about-page button {
       height: 3vw;
       width: 8vw;
       /* align-content: center; */
       /* align-items: center; */
       justify-content: center;
       left: 45%;
       font-size: .9vw;
   }
   
   #education {
       height: 100%;
       width: 100%;
       display: flex;
       align-items: center;
       flex-direction: column;
   }
   
   #education h1 {
       font-size: 4.5vw;
       text-transform: capitalize;
       text-align: center;
       padding-top: 5vw;
       position: relative;
       transition: all ease 0.2s;
       user-select: none;
       cursor: pointer;
   }
   
   #education h1::before {
       content: "";
       position: absolute;
       width: 0;
       height: 7px;
       background: linear-gradient( to bottom right, rgb(4, 39, 46), rgb(251, 249, 245));
       transition: all ease-in 0.4s;
       bottom: 5%;
   }
   
   #education h1:hover::before {
       width: 100%;
   }
   
   .box {
       border: 2px solid #00abf0;
       border-radius: 10px;
       margin-bottom: 1vw;
       margin-top: 1vw;
       display: grid;
       padding: 5px;
       grid-template-rows: 30% 70%;
       font-size: clamp(15px, 4.5vw, 15px);
       /* grid-template-columns: 4% 60% 4% 32%; */
   }
   
   .box11,
   .box21,
   .box31 {
       display: grid;
       /* grid-template-rows: 20% 80%; */
       grid-template-columns: 4% 60% 4% 32%;
   }
   
   .box i,
   h4 {
       color: #00abf0;
       font-weight: 500;
       font-size: 1.2vw;
   }
   
   .box:hover {
       box-shadow: 0 2px 10px 0 #00acf077, 0 6px 20px 0 #06709977;
   }
   
   @media screen and (min-width:501px) {
       #box1 {
           height: 15%;
           width: 45%;
           /* color: #00abf0; */
       }
       #box2 {
           height: 15%;
           width: 45%;
       }
       #box3 {
           height: 30%;
           width: 45%;
       }
   }
   
   .box32 {
       display: grid;
       grid-template-columns: 50% 50%;
       display: flex;
       justify-content: space-between;
       padding: 1.8vw;
   }
   
   .sem,
   .sgpa {
       display: flex;
       flex-direction: column;
       text-align: center;
   }
   /* skill section */
   
   .skill {
       /* background-color: var(--second-bg-color); */
       height: 100%;
       width: 100%;
       display: flex;
       flex-direction: column;
       align-items: center;
   }
   
   #box {
       border: 2px solid #00abf0;
       border-radius: 10px;
       margin-bottom: 1vw;
       margin-top: 1vw;
       display: grid;
       padding: 2vw 3vw;
       /* grid-template-rows: 30% 70%; */
   }
   
   #box:hover {
       box-shadow: 0 2px 10px 0 #00acf077, 0 6px 20px 0 #06709977;
   }
   
   .skill h1 {
       font-size: 4.5vw;
       text-align: center;
       position: relative;
       user-select: none;
       cursor: pointer;
       margin-top: 5vw;
       text-transform: uppercase;
       /* transition: all ease .4s; */
   }
   
   .skill h1::before {
       content: "";
       bottom: 5%;
       width: 0;
       position: absolute;
       height: 7px;
       background: linear-gradient( to bottom right, rgb(4, 39, 46), rgb(251, 249, 245));
       transition: all ease-in.4s;
   }
   
   .skill h1:hover::before {
       width: 100%;
   }
   
   @media screen and (min-width:501px) {
       .c-skills {
           height: 70%;
           width: 50%;
           display: grid;
           padding: 30px 40px;
           /* grid-template-columns: 50% 50%; */
           grid-template-rows: 14% 14% 14% 14% 14% 14%;
       }
   }
   
   .c-skills h1,
   h3 {
       color: #ededed;
   }
   
   .box-skill {
       display: grid;
       grid-template-rows: 50% 50%;
   }
   
   .box-skills1 {
       display: flex;
       justify-content: space-between;
   }
   
   .box-skills21,
   .box-skills22,
   .box-skills23 {
       border: double var(--main-color);
       height: 10px;
       border-radius: 3px;
       position: relative;
   }
   
   .box-skills21::before,
   .box-skills22::before,
   .box-skills23::before {
       content: "";
       bottom: 5%;
       width: 0;
       position: absolute;
       height: 100%;
       background: linear-gradient(to bottom right, #ededed, #00abf0);
       transition: all ease-in 0.4s;
   }
   
   .box-skills21:hover::before {
       width: 90%;
   }
   
   .box-skills22:hover::before {
       width: 70%;
   }
   
   .box-skills23:hover::before {
       width: 65%;
   }
   /* contact section */
   
   .contact {
       height: 100%;
       width: 100%;
       display: flex;
       align-items: center;
       flex-direction: column;
   }
   
   .contact h1 {
       font-size: 4.5vw;
       text-align:center;
       position: relative;
       user-select: none;
       cursor: pointer;
       margin-top: 5vw;
       text-transform: uppercase;
   }
   
   .contact h1::before {
       content: "";
       bottom: 5%;
       width: 0;
       position: absolute;
       height: 7px;
       background: linear-gradient( to bottom right, rgb(4, 39, 46), rgb(251, 249, 245));
       transition: all ease-in.4s;
   }
   
   .contact h1:hover::before {
       width: 100%;
   }
   
   @media screen and (min-width:501px) {
       #contact {
           height: 30vw;
           width: 60vw;
           display: grid;
           grid-template-rows: 40% 60%;
       }
       .details {
           display: grid;
           grid-template-columns: 50% 50%;
           grid-template-rows: 50% 50%;
       }
       .p-details {
           border: 2px solid #00abf0;
           border-radius: 10px;
           height: 4vw;
           color: #ededed;
           margin: 10px;
       }
       .message {
           height: 90%;
           width: 98%;
           border: 2px solid #00abf0;
           border-radius: 10px;
           margin: 0.7vw;
           outline: none;
       }
   }
   
   input::placeholder {
       color: #ededed;
   }
   
   textarea::placeholder {
       color: #ededed;
   }
   
   .contact #submitBtn {
       background-color: #00abf0;
       color: #081b29;
       padding: 0.6vw 1.5vw;
       font-weight: 600;
       border-radius: 0.5vw;
       border: 2px solid #00abf0;
       position: relative;
       overflow: hidden;
       transition: all ease 0.4s;
       font-size: 1vw;
   }
   
   #submitBtn::before {
       content: "";
       position: absolute;
       top: 50%;
       left: 50%;
       border-radius: 50%;
       width: 0;
       height: 0;
       transform: translate(-50%, -50%);
       background-color: #081b29;
       transition: all ease 0.4s;
   }
   
   #submitBtn:hover::before {
       width: 150px;
       height: 150px;
       z-index: -1;
   }
   
   #submitBtn:hover {
       color: #00abf0;
       z-index: 99;
       background-color: #081b29;
       box-shadow: 0 4px 8px 0 #00acf077, 0 6px 20px 0 #00acf077;
   }
   
   .details input:focus {
       transition: all ease 0.3s;
       box-shadow: 0 4px 5px 0 #00acf077, 0 6px 15px 0 #00acf077;
   }
   
   .message textarea:focus {
       transition: all ease 0.3s;
       box-shadow: 0 4px 5px 1px #00acf077, 0 6px 15px 1px #00acf077;
       background-color: #62acac;
   }
  